<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]*@
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">

</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Biblioteka internetowa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div >
                <ul class="topnav navbar-nav" id="myTopnav">
                    <li>@Html.ActionLink("Biblioteka\ninternetowa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lista książek", "Index", "Books")</li>
                    <li>@Html.ActionLink("Kategorie", "CategoriesList", "Categories")</li>
                    <li>@Html.ActionLink("Autorzy", "AuthorsList", "Authors")</li>
                    <li>@Html.ActionLink("Wydawnictwa", "PublishersList", "Publishers")</li>
                    <li>@{Html.RenderAction("CartSummary", "BooksCart");}</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a href="@Url.Content("~/Users/Admin/")">| Panel admina </a></li>
                    }
                    <li class="icon">
                        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="grad"></div>
        </div>
        <div class="container maindiv">
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


    <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
    </script>

</body>
</html>
