@model MVCBiblioteka.Models.Book

@{
    ViewBag.Title = "Usuwanie książki";
}

<h2>Usuwanie książki</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tą książkę?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.premiereDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premiereDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers.FirstOrDefault().name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors.FirstOrDefault().name)
            @Html.DisplayFor(model => model.Authors.FirstOrDefault().surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.FirstOrDefault().name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.LendID)*@
        </dt>

        <dd>
          @*  @Html.DisplayFor(model => model.LendID)*@
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
